<component name="libraryTable">
  <library name="spring">
    <CLASSES>
      <root url="jar://D:/lib/Spring/aopalliance-1.0.jar!/" />
      <root url="jar://D:/lib/Spring/commons-logging-1.1.3.jar!/" />
      <root url="jar://D:/lib/Spring/spring-aop-4.2.6.RELEASE.jar!/" />
      <root url="jar://D:/lib/Spring/spring-aspects-4.2.6.RELEASE.jar!/" />
      <root url="jar://D:/lib/Spring/spring-beans-4.2.6.RELEASE.jar!/" />
      <root url="jar://D:/lib/Spring/spring-context-4.2.6.RELEASE.jar!/" />
      <root url="jar://D:/lib/Spring/spring-context-support-4.2.6.RELEASE.jar!/" />
      <root url="jar://D:/lib/Spring/spring-core-4.2.6.RELEASE.jar!/" />
      <root url="jar://D:/lib/Spring/spring-expression-4.2.6.RELEASE.jar!/" />
      <root url="jar://D:/lib/Spring/spring-instrument-4.2.6.RELEASE.jar!/" />
      <root url="jar://D:/lib/Spring/spring-instrument-tomcat-4.2.6.RELEASE.jar!/" />
      <root url="jar://D:/lib/Spring/spring-jdbc-4.2.6.RELEASE.jar!/" />
      <root url="jar://D:/lib/Spring/spring-jms-4.2.6.RELEASE.jar!/" />
      <root url="jar://D:/lib/Spring/spring-messaging-4.2.6.RELEASE.jar!/" />
      <root url="jar://D:/lib/Spring/spring-orm-4.2.6.RELEASE.jar!/" />
      <root url="jar://D:/lib/Spring/spring-oxm-4.2.6.RELEASE.jar!/" />
      <root url="jar://D:/lib/Spring/spring-test-4.2.6.RELEASE.jar!/" />
      <root url="jar://D:/lib/Spring/spring-tx-4.2.6.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>